@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.login-page {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, 
  #4f0a0d 0%,      
  #1a3c64 25%,     
  #503266 50%,    
  #7a9fae 75%,     
  #3d66a1 100%    
);
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 50% 50%;
  }

  75% {
    background-position: 75% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}


.login-box {
  width: 350px;
  padding: 30px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  color: #fff;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
}

.user-box {
  position: relative;
  margin-bottom: 30px;
}

.user-box input {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}

.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
  top: -20px;
  left: 0;
  font-size: 12px;
  color: #03e9f4;
}

form a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form a:hover {
  background-color: #686868;
  border-radius: 5px;
  transform: scale(1.1);
}

.text-danger {
  font-size: 13px;
  background-color: #ffebee;
  border-radius: 15px;
  margin-bottom: 30px;
}

#logo {
  width: 70px;
}

#textLogo {
  display: block !important;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  font-family: "Squada One", sans-serif;
  font-weight: 400;
  font-size: 4em;
  font-style: normal;
  color: white;
}

@media (max-width: 750px) {
  #logo {
    display: none;
  }
}