<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="https://www.instagram.com/"><img id="instagram" src="/img/instagramLogo.png"  alt="instagram"></a>
                <a href="https://www.facebook.com/?locale=es_ES"><img id="facebook" src="/img/facebookLogo.png"  alt="facebook"></a>
                <a href="https://www.facebook.com/?locale=es_ES"><img id="x" src="/img/xLogo.png"  alt="x"></a>
            </div>

            <div class="col-md-6 mt-3" >
                <h4>CONTACTO</h4>
                <p>Correo: daarro&#64;alumnatflorida.es</p>
                <p>Telefono: 627627981</p>
                <p>© 2024 StockMaster. Todos los derechos reservados.</p>
            </div>

            <div class="col-md-3">
                <img id="logo" src="/img/logo.png"  alt="logo">
            </div>

        </div>
    </div>
</footer>  
