body {
  background-color: #232426;
  color: white;
  height: 100%; 
}

nav {
  background-color: #343a40;
  color: white;
}

.btn {
  background-color: #686868;
  color: #fff;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #1d2124;
    color: wheat;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
