<h1>MIS GRAFICOS</h1>
<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-md-5 mb-4 d-flex flex-column flex-grow-1">
      <div class="stacked-charts h-100">
        <div class="graphics">
          <h3>Ventas de este año</h3>
          <app-chart [type]="'bar'" [data]="barSale"></app-chart>
        </div>
        <div class="graphics">
          <h3>Ventas de esta semana</h3>
          <app-chart [type]="'line'" [data]="lineSale"></app-chart>
        </div>
      </div>
    </div>

    <div class="col-md-5 mb-4 d-flex flex-column flex-grow-1">
      <div class="single-chart h-100">
        <h3>Productos mas vendidos</h3>
        <app-chart [type]="'pie'" [data]="circularMostSale"></app-chart>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 mb-4">
      <div class="double-chart h-100">
        <div class="graphics">
          <h3>Entrada de productos</h3>
          <app-chart [type]="'line'" [data]="lineExitProducts"></app-chart>
        </div>
        <div class="graphics">
          <h3>Salida de productos</h3>
          <app-chart [type]="'line'" [data]="lineEntrateProducts"></app-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-12 mb-4">
      <div class="double-chart h-100">
        <div class="graphics">
          <h3>Ingresos brutos</h3>
          <app-chart [type]="'line'" [data]="lineGrossProfits"></app-chart>
        </div>
        <div class="graphics">
          <h3>Ingresos netos</h3>
          <app-chart [type]="'line'" [data]="lineNetProfits"></app-chart>
        </div>
      </div>
    </div>
  
  </div>

  <!--GRAFICOS EXTRA-->
  @if (cont1 === 1) {
    <div class="row justify-content-center">
      <div class="col-md-12 mb-4">
        <div class="double-chart h-100">
          <div class="graphics">
            <h3>Stock disponible</h3>
            <app-chart [type]="'doughnut'" [data]="stockAvailable"></app-chart>
          </div>
          <div class="graphics">
            <h3>Ventas por categoría</h3>
            <app-chart [type]="'pie'" [data]="categorySales"></app-chart>
          </div>
        </div>
      </div>
    </div>
  } 
  
  @if (cont2 === 1) {
    <div class="row justify-content-center">
      <div class="col-md-12 mb-4">
        <div class="double-chart h-100">
          <div class="graphics">
            <h3>Comparación de ventas por mes</h3>
            <app-chart [type]="'radar'" [data]="monthlySalesComparison"></app-chart>
          </div>
          <div class="graphics">
            <h3>Retornos de productos</h3>
            <app-chart [type]="'polarArea'" [data]="productReturns"></app-chart>
          </div>
        </div>
      </div>
    </div>
  } 

  @if (cont3 === 1) {
    <div class="row justify-content-center">
      <div class="col-md-12 mb-4">
        <div class="double-chart h-100">
          <div class="graphics">
            <h3>Descuentos aplicados</h3>
            <app-chart [type]="'bar'" [data]="discountsApplied"></app-chart>
          </div>
          <div class="graphics">
            <h3>Costos de productos</h3>
            <app-chart [type]="'bar'" [data]="productCosts"></app-chart>
          </div>
        </div>
      </div>
    </div>
  }
  

  
  <div id="contButton">
    @if (contButton === 0) {
      <img id="addButton" src="/img/addPhoto.png" class="img-fluid" alt="Añadir grafico" (click)="modifyContButton()">
    } @else {
      <div id="newGraphics">
        <h3>Añadir nuevas graficas</h3>
        <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" formControlName="check1"> Stock y ventas por categoria
            </label>
          </div>

          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" formControlName="check2"> Ventas por mes y retorno productos
            </label>
          </div>

          <div class="form-check mb-3">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember" formControlName="check3"> Consto de los productos y descuentos 
            </label>
          </div>

          <button id="addGraphicsButton" type="submit" class="btn btn-primary">Aplicar</button>
        </form>
        <p id="closeButton" (click)="modifyContButton()">Cerrar</p>
      </div>
    }
  </div>


</div>
<app-footer></app-footer>